<?xml version = "1.0" encoding = "UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xmlns:aop = "http://www.springframework.org/schema/aop"
   xmlns:context="http://www.springframework.org/schema/context"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/aop
   http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context.xsd">

   <!-- bean definition & AOP specific configuration -->
   
   <bean name="triangle" class="com.jayram.model.Triangle">
   		<property name="name" value="Triangle Name"></property>
   </bean>
   
   <bean name="circle" class="com.jayram.model.Circle">
   </bean>
   
   <bean name="shapeService" class="com.jayram.service.ShapeService" autowire="byName">
   </bean>
   
   <bean name="loggingAspect" class="com.jayram.aspect.LoggingAspect"></bean>
   <bean name="loggingXmlBasedAspect" class="com.jayram.aspect.LoggingXmlConfigBasedAspect"></bean>
   
   <aop:config>
   		<aop:aspect id="loggingXmlBasedAspect" ref="loggingXmlBasedAspect">
   			<aop:pointcut id="allGetters" expression="execution(public * get*(..))"/>
   			<aop:after pointcut-ref="allGetters" method="myAdvice"/>
   		</aop:aspect>
   </aop:config>
   
   <aop:aspectj-autoproxy></aop:aspectj-autoproxy> <!-- It tells Spring container that we are using AOP -->
   <context:annotation-config/> <!-- To define all annotations related to BeanPostProcessor we can use this tag alone -->

</beans>
